html {
    display: flex;
    flex-direction: column;
    height: 100%;
  }
  #root {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: lightgreen;
  }
  nav {
    display: flex;
    background-color: green;
    align-items: center;
    height: 12%;
    justify-content: space-between;
    color: goldenrod;
  }
  
  .btn {
    display: flex;
    background-color: aliceblue;
  }
  
  .link-container {
    display: flex;
  }
  
  .link {
    text-decoration: none;
    color: goldenrod;
    padding: 5%;
    text-decoration: underline;
    
  }
  
  .link:hover {
  text-decoration: dotted;

  }
  .cardField {
    display: flex;
    flex-flow: column;
    gap: 0.5 rem;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
  .postCard {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: green;
    border-radius: 1rem;
    margin: 1%;
    border: solid 0.1rem;
    flex-basis: 20%;
    width: 60%;
  }
  .title {
    font-size: large;
    font-weight: bolder;
    height: fit-content;
    background-color: goldenrod;
    background-size: cover;
    border-top-left-radius: .75rem;
    border-top-right-radius: .75rem;
    padding: 0 0.5%;
    border-bottom: solid 0.1rem;
    flex: 2 0;
  }
  .author {
    display: flex;
    flex-direction: row;
    gap: 0.25rem;
    background-color: greenyellow;
    font-size: medium;
    font-weight: bold;
    flex: 1 0;
  }
  .description {
    display: flex;
    flex-direction: column;
    flex: 10 0;
  }
  #description {
    font-size: small;
    height: 40%;
    border: solid 0.1rem;
    flex-grow: 2;
  }
  .location {
    display: flex;
    flex: 1 0;
  }
  .price {
    display: flex;
    flex: 1 0;
  }
  
  .cardBtn {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    height: 100%;
    flex: 1 1;
  }

  #newPost {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
    align-items: center;
  }
  
  input.title {
    font-size: medium;
    font-weight: bolder;
    height: fit-content;
    background-size: cover;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    padding: 0 1%;
    border-bottom: solid 0.1rem;
    flex: 2 0;
  }

  div.createPostCard {
    align-content: center;
  }

  .createCard {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: green;
    border-radius: 1rem;
    margin: 1%;
    border: solid 0.1rem;
    flex-basis: 20%;
    width: 60%;
  }

  .checkbox {
    display: flex;
    flex-direction: row;
  }

h1 {
  align-items: center ;
}